body {
    padding: 10px;
}

.divlabel {
    float:left;
    width: 10%;
}

.div_active_listing {
    margin-bottom:10px;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius:10px;
}

.div_image {
    float:left;
    width: 30%;
    height:100%;
    text-align: center;
}

.div_description {
    float: left;
    padding:20px;
    width: 60%;
    height: 100%;
    text-align: left;
    
}