{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings {% block category %}{% endblock %}</h2>
    <!-- Div for the whole list -->
    <div>
        {% for listing in listings %}
    <!-- Display the Active Listing only -->     
          {% if listing.active == True %}
            <div class="div_active_listing">
    <!-- Add the listing link to the image area -->
            <a href="{% url 'listing' listing.id %}">
                <div class="div_preview_image">
    <!-- Check the image's url provided or not-->
                    {% if listing.img %}
                        <img src="{{ listing.img }}" alt="{{ listing.title }}" style="height:100%;max-width:100%">
                    {% else %}
                        No Image.
                    {% endif %}
                </div>
            </a>
                <div class="div_preview_list">
    <!-- Listing preview information -->
                    Listing {{ listing.id }}:
                    <h5> {{ listing.title }} </h5>
                    <h6> <strong>Price:</strong> ${{ listing.c_off.bid_price }} </h6> 
                    {{ listing.description }} <br>
                    Category: {{ listing.category }}
                </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
{% endblock %}